.select-wrapper
	position: relative
	.select-menu
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		border-radius: 2px
		border: 1px solid rgba(black, 0)
		background-color: transparent
		font-family: 'Inter'
		height: 30px
		margin: 1px 0
		padding: 0 0 0 7px
		&:hover
			border: 1px solid rgba(black, 0.1)
		&:focus
			height: 30px
			outline: 1px solid rgba(black, 0)
			outline-offset: -2px
	> svg.svg
		pointer-events: none
		position: absolute
		right: 10px
		top: calc(50% - 4px)
